.title  {
    margin-top: 45px;
    margin-bottom: 45px;
    color: #343030;
    font-family: Merriweather;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    height: 36px;
    width: 390px;
}